header{
    display: flex;
    flex-wrap: wrap;
}

header h3 {
    width: 50%;
}

header p {
    width: 50%;
    display: flex;
    justify-content: end;
}
main{
    display: flex;
}

button {
    color: white;
    background-color: purple;
    border-radius: 8px;
    font-size: 24px;
}

.choices{
    width: 400px;
    margin-bottom: 15px;
}

button:hover {background-color:rgb(198, 147, 247);
}

.hide{
    display: none;
}

#leaderboard-btn{
    color: purple;
    border: none;
    background-color: white;
    font-size: 14px;
}

#start-screen, #question, #save-score, #highscores{
    text-align: center;
}

#question ul{
    list-style: none;
}

#title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
}
